
<section class="debug-message-dock" id="debug-dock">
<div class="debug-status-indicator"></div>
  <div class="debug-dock-controls">
    <button type="button" id="dismiss-debug" class="btn-close" aria-label="Close Debug Dock"></button>
  </div>
  <div class="container-fluid">
    {{ content }}
  </div>
</section>
